/* Sticky footer styles
-------------------------------------------------- */

html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by it's height */
  margin: 0 auto -60px;
}

/* Set the fixed height of the footer here */
#push,
#footer {
  height: 60px;
}
#footer {
  background-color: #f5f5f5;
  padding: 0;
}

/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
  #footer {
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

.incubator-logo {
  width; 300px;
  height: 30px;
}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

#wrap > .container {
  padding-top: 20px;
}
.container .credit {
  margin: 20px 0;
}
.front-logo {
  padding-top: 6px;
  padding-right: 20px;
  padding-bottom: 10px;
  padding-left: 0px;
}
.front-cell {
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 0px;
  width: 33%;
}

/*code {
  font-size: 80%;
}*/